.wrap {
  display: flex;
  flex: 1;
  flex-direction: column;
}

.wrap-item {
  border-bottom: 1px solid grey;
  display: flex;
  align-items: center;
  gap: 8px;
}

.wrap-item > div {
  flex: 1;
}

.container {
  display: flex;
  justify-content: center;
}

.content {
  width: 50%;
}

.empty {
  display: flex;
  justify-content: center;
  height: 200px;
  align-items: center;
}

.wrap-button-delete {
  display: flex;
  justify-content: end;
  margin-top: 16px;
}